<div class="about">

  <h2>Firebase & AngularFire In Depth</h2>

  <img class="course-image mat-elevation-z10"
    src="https://angular-university.s3-us-west-1.amazonaws.com/course-images/firebase-course-1.jpg">

  <button mat-raised-button class="upload-btn" color="primary" (click)="uploadData()">Populate Database</button>
  <button mat-raised-button color="accent" (click)="onReadDock()">Read Document</button>
  <button mat-raised-button color="accent" (click)="onReadDockChange()">Read Changed Document</button>
  <button mat-raised-button color="accent" (click)="onReadCollection()">Read Collection</button>
  <button mat-raised-button color="accent" (click)="onReadCollectionGroup()">Read Collection Group</button>
  <button mat-raised-button color="accent" (click)="onReadCollectionFiltered()">Read Collection Filtered</button>
  <button mat-raised-button color="accent" (click)="onReadCollectionFilteredWithOrder()">Read Collection Filtered With Order</button>
  <button mat-raised-button color="accent" (click)="onReadCollectionFilteredByMoreFields()">Read Collection Filtered By More Fields</button>
</div>